.SWREI_export_wrapper div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.SWREI_export_wrapper div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.SWREI_export_wrapper div.tab button:hover {
    background-color: #ddd;
}

.SWREI_export_wrapper div.tab button.active {
    background-color: #ccc;
}

.SWREI_export_wrapper .tabcontent {
    display: none;
    padding: 14px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
div.SWREI_export_wrapper{	
	margin: 30px 4% 15px;
}
.SWREI_export_wrapper .form_fields{
	margin: 10px 0;
}
.SWREI_export_wrapper .order_mapping table {
	border-collapse: collapse;
    border: 1px solid gray;
	width: 100%;
}
.SWREI_export_wrapper .order_mapping select{
	max-width: 100%;
}
.SWREI_export_wrapper .order_mapping tr, .SWREI_export_wrapper .order_mapping td, .SWREI_export_wrapper .order_mapping th {	
    border: 1px solid gray;
	padding: 3px 5px;
	max-width: 150px !important;
}
.SWREI_export_wrapper .SWREI_loader img{
	width: 29px;
    height: 29px;
    text-align: center;
}
.SWREI_export_wrapper .SWREI_loader label{
	top: -12px;
    position: relative;
    left: 10px;
	color: green;
}
.SWREI_export_wrapper .msg_box {
    color: green;
	margin: 0 10%;
	min-height:42px;
}
.SWREI_export_wrapper button#refresh_orderlist {
    float: right;
}
.SWREI_export_wrapper .order_map_submit{
	float:left;
}
.db_backup_wrapper{
	margin-bottom:20px;
}
.db_backup_wrapper input.dbbackup_button{
	float:right;
}

.SWREI_export_wrapper #export select,.SWREI_export_wrapper #import select {
    min-width: 138px !important;
    padding-left: 2px;
}
.SWREI_export_wrapper #export .form_fields label, .SWREI_export_wrapper #import .form_fields label{
    float: left;
    width: 130px !important;
}
.SWREI_notice.notice-red {
    color: red;
}
span.select_multipleselect_area li {
    float:left;
	padding: 0px 6px;
	top: -6px;
    position: relative;
	background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    margin-right: 5px;
}
.SWREI_export_wrapper .form_fields  { clear: both; }
.SWREI_export_wrapper span.select_multipleselect_area {
    float: left;
    clear: both;
    position: absolute;
    margin-left:10px;
}
.SWREI_export_wrapper span.select_multipleselect_area li  span{
	color:red;
	cursor: pointer;
	color: #999;
	display: inline-block;
	font-weight: 700;
	margin-right: 2px;
}
@media screen and (max-width: 767px){
	
.SWREI_export_wrapper span.select_multipleselect_area {  position: relative; }	

.SWREI_export_wrapper #export select, .SWREI_export_wrapper #import select {
    min-width: 152px !important;
}
}